{{{header}}}

<div class="body">
     <h3 style="color: #004396;">Invitation à rejoindre Evift</h3>
     <div class="first-paragraph">
          <p style="color: #004396;">
               {{friendFirstname}} {{friendLastname}} ({{emailFriend}}) souhaite t'ajouter comme ami sur Evift.
          </p>
     </div>
     <div
          style="margin-top: 1.5rem; background: #e6f0fa; padding: 1rem 2rem; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,67,150,0.05); width: fit-content; margin: 0 auto; text-align: center;">
          <span style="color: #004396; font-weight: 500;">
               Pour accepter l'invitation, crée ton compte Evift en cliquant ci-dessous
          </span>
          <br>
          <div style="width: fit-content; margin: 0 auto;">
               <a href="https://evift.fr/evift/createRequestAccount/{{email}}/{{token}}"
                    style="display: inline-block; margin-top: 1rem; background: #A3009C; color: #fff; padding: 0.7rem 1.5rem; border-radius: 5px; text-decoration: none; font-weight: bold; box-shadow: 0 2px 4px rgba(0,67,150,0.10);">
                    Créer mon compte
               </a>
          </div>
     </div>
</div>
<style>
     .body {
          color: #004396;
          word-wrap: break-word;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
     }
</style>
{{{footer}}}